<info2>
      
				<% if @article.articlepic_file_name %>	
					<%= image_tag(@article.articlepic.url, :width => '300')%>
					
				<% else%>
							<% end %>

<% if current_user.admin? %>
</br>
<%= link_to 'Edit', edit_article_path(@article) %> | | <%= link_to 'New Article', new_article_path %>
<% end %>
        <ul>
    	
    	<li><strong><u>Story:</u></strong></li> 
</br>
</br>
<li><%= @article.content.html_safe %></li>
    	</ul>
      </info2>
</br>
<%= link_to "Back to news stories.", articles_path %>