
<info2>
      
				<% if @event.eventpic_file_name %>	
					<%= image_tag(@event.eventpic.url, :width => '500')%>
					
				<% else%>
					<%= default_image_for_events%>
							<% end %>
<% if current_user.admin? %>
		
		<%= link_to 'Edit', edit_event_path(@event) %> | | <%= link_to 'New Event', new_event_path %>
			  
<% end %>
							
	</br>
							  	
        <ul>
    	<li><strong><u>Date/Time:</u></strong> <%= @event.date %></li>
    	<li><strong><u>Place:</u></strong> <%= @event.location.html_safe %></li>
    	<li><strong><u>Description:</u></strong> </br><%= @event.description.html_safe %></li>
    	</ul>
		<%= link_to "Back to events.", events_path %>
								  

      </info2>

