<h1>About Us</h1>
<p>
  Hello and welcome to dansbeerlist.com! We are an online tasting community that explores the very diverse world of beer. Our mission is to help educate the public about all the great beers that are on the market today. On our site you can create your own drinker <%= link_to "profile", new_user_registration_path %> and post reviews on new beers you've tried. Once you create your profile you can interact with other drinkers on <%= link_to "Das Forum", posts_path %> (the sites forum) and follow the drinkers you like. The more you interact with other users the more <%= link_to "beer badges", beerbadges_path %> you will get which are tokens that get you drunker over time.
</p> 
<p>
You can also learn about beer on the site by browsing our <%= link_to "Beer Basics", beerbasics_path %> page or by watching the videos we post on our <%= link_to "Brewtube", videos_path %> page. 
</p>
<p>
Our online beer tasting community also reaches beyond the scope of this website. We host tasting <%= link_to "events", events_path %> which follow a particular style or theme. They are a great way to meet fellow drinkers and to try some really good beer.
</p>
<p>
Become part of our beer tasting community! Crack open a beer and sign up now!
</p>