<h1>Drinker Level:</h1>
<p>
On this site there are 6 stages of drunkenness. You can get drunker by posting new beers, by posting on on <%= link_to "Das Forum", posts_path %>, by following other <%= link_to "drinkers", users_path %> or getting them to follow you and by participating in our <%= link_to "tasting events", events_path %>. Below are the 6 stages:
</p>
<ol>
	<li><%=image_tag("levels/level0.png")%></li>
	<li><%=image_tag("levels/level1.png")%></li>
	<li><%=image_tag("levels/level2.png")%></li>
	<li><%=image_tag("levels/level3.png")%></li>
	<li><%=image_tag("levels/level4.png")%></li>
	<li><%=image_tag("levels/level5.png")%></li>

</ol>